services:
  runtime:
    image: lyl472324464/robot:aloha-ros1.0
    depends_on:
      - aloha_ros_nodes
      - ros_master
      - openpi_server
    # build:
    #   context: .
    #   dockerfile: examples/aloha_real/Dockerfile
    command: /bin/bash
    init: true
    tty: true
    network_mode: host
    privileged: true
    volumes:
      - $PWD:/app

  aloha_ros_nodes:
    image: lyl472324464/robot:aloha-ros1.0
    depends_on:
      - ros_master
    # build:
    #   context: .
    #   dockerfile: examples/aloha_real/Dockerfile
    init: true
    tty: true
    network_mode: host
    privileged: true
    volumes:
      - /dev:/dev
      - $PWD/third_party/aloha:/root/interbotix_ws/src/aloha
    command: roslaunch --wait aloha ros_nodes.launch

  ros_master:
    image: ros:noetic-robot
    network_mode: host
    privileged: true
    command:
      - roscore

  openpi_server:
    image: lyl472324464/robot:openpi_server
    build:
      context: .
      dockerfile: scripts/docker/serve_policy.Dockerfile
    command: uv run scripts/serve_policy.py --env ALOHA
    init: true
    tty: true
    network_mode: host
    volumes:
      - $PWD:/app
      - ${OPENPI_DATA_HOME:-~/.cache/openpi}:/openpi_assets
    environment:
      - GIT_LFS_SKIP_SMUDGE=1
      - XLA_PYTHON_CLIENT_MEM_FRACTION=0.4
      - SERVER_ARGS
      - OPENPI_DATA_HOME=/openpi_assets
      - IS_DOCKER=true
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    gpus: all

  redis:
    image: redis:7.4.2
    restart: always
    network_mode: "host"
    healthcheck:
      test:  ["CMD", "redis-cli" ,"ping"]
      interval: 3s
      timeout: 3s
      retries: 5
      start_period: 2s
    ports:
      - 6379:6379

  voice_assistant:
    image: lyl472324464/robot:voice_assistant
    build:
      context: ./voice_assistant
      dockerfile: Dockerfile
    restart: always
    network_mode: "host"
    privileged: true
    gpus: all
    volumes:
      - ./voice_assistant:/app
      - /dev:/dev
      - /tmp:/tmp
      - /dev/snd:/dev/snd
      - /run/user/1000/pulse:/run/user/1000/pulse
      - /etc/machine-id:/etc/machine-id:ro
    env_file:
      - ./voice_assistant/.env
    environment:
      - PULSE_RUNTIME_PATH=/run/user/1000/pulse
      - PULSE_STATE_PATH=/run/user/1000/pulse
      - DISPLAY=${DISPLAY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    depends_on:
      - redis
    command: /bin/bash -c "tail -f /dev/null"
